.navbar {
  padding: 1.4rem 7% !important;
  background: #fff;
  width: 100%;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.245);
  z-index: 10;
}
.navbar .nav-brand img {
  width: 130px;
}
.navbar .nav {
  padding-left: 2rem;
}
.navbar .nav-link {
  color: #000 !important;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0 1.5rem;
  padding: 0 !important;
  position: relative;
}
.navbar .nav-link::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 1.5px;
  background: #1f1f1f;
  transform: translateX(-50%);
  transition: 0.3s ease;
}
.navbar .nav-link:hover::after {
  width: 100%;
}
.navbar .nav-link.active::after {
  width: 50%;
}
.navbar .right-btn-wrapper {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
.navbar .right-btn-wrapper .icon {
  font-size: 1.4rem;
}
.navbar .right-btn-wrapper .cart-icon {
  font-size: 1.65rem;
  margin-top: -2.3px;
}

/* Media Queries */
@media (max-width: 992px) {
  .navbar {
    padding: 1rem 1rem !important;
  }
  .navbar .nav-brand img {
    width: 100px;
  }
  .navbar-toggler {
    border: none !important;
    box-shadow: none !important;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  .offcanvas {
    background: #0764f9;
    width: 70% !important;
  }
  .offcanvas .offCanvasLogo {
    width: 130px;
    background-color: #fff;
    padding: 0.8rem 1rem;
    border-radius: 7px;
  }
  .offcanvas .nav-link {
    color: #fff !important;
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: 600;
    width: max-content;
  }
}

@media screen and (min-width: 1230px) and (max-width: 1399px) {
  .navbar {
    padding: 1.3rem 7% !important;
  }
  .navbar .nav-brand img {
    width: 118px;
  }
  .navbar .nav-link {
    font-size: 1.1rem;
    margin: 0 1.4rem;
  }
  .navbar .right-btn-wrapper {
    gap: 1.2rem;
  }
  .navbar .right-btn-wrapper .icon {
    font-size: 1.3rem;
  }
  .navbar .right-btn-wrapper .cart-icon {
    font-size: 1.5rem;
    margin-top: -2.2px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
  .navbar {
    padding: 1.1rem 7% !important;
  }
  .navbar .nav-brand img {
    width: 105px;
  }
  .navbar .nav {
    padding-left: 1.8rem;
  }
  .navbar .nav-link {
    font-size: 0.95rem;
    margin: 0 1.3rem;
  }
  .navbar .nav-link::after {
    height: 1px;
  }
  .navbar .right-btn-wrapper {
    gap: 1.1rem;
  }
  .navbar .right-btn-wrapper .icon {
    font-size: 1.2rem;
  }
  .navbar .right-btn-wrapper .cart-icon {
    font-size: 1.4rem;
    margin-top: -2px;
  }
}
